@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center p-4">
    <div class="col-md-6">
        <img src="~/Collab.png" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <h1 class="pb-2">Welcome to <b class="text-success">Collab</b> !</h1>
        <h4>Where Collaborators Connect.</h4>
        <p>Collab is a dynamic project management system designed to streamline collaboration among project managers and team members. With user-friendly features like registration, login, task and project management, and notifications, Collab empowers you to work efficiently and achieve outstanding results.</p>
        <p>Register and login seamlessly using your email and password. Customize your profile to showcase your skills and expertise. As a project manager, effortlessly create and manage projects, invite team members, and oversee tasks.</p>
        <p>Team members can easily track assigned tasks, make updates, and stay informed with our notification system. The project dashboard provides a comprehensive view of key project statistics, including task progress and member contributions.</p>
        <p>Collab revolutionizes project management and collaboration. Join now and unlock the power of teamwork!</p>
    </div>
</div>
