@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center p-4">
    <div class="col-md-6">
        <img src="~/Collab.png" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <h1 class="pb-2">Welcome to <b class="text-success">Collab</b> !</h1>
        <h4>Where Collaborators Connect.</h4>
        <p>At Collab, we believe in the power of connection and collaboration. Our platform serves as a virtual meeting place, bringing together individuals from diverse backgrounds and communities.</p>
        <p>Whether you're looking to network, share knowledge, or foster meaningful relationships, Collab is here to facilitate those connections. We provide a safe and inclusive environment where ideas can flourish, and barriers are broken down.</p>
        <p>Our dedicated team has carefully crafted this platform to ensure the highest quality standards. From robust quality checks to efficient change management, we strive for excellence in every aspect.</p>
        <p>Start exploring <span class="text-success">Collab</span> today and unlock the potential of collaboration!</p>
    </div>
</div>
