@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to <b>Collab!</b></h1>
    <h2 style="color:cadetblue">@User.Identity.Name</h2>
    <h2>Where Collaborators Connect. </h2>
    <p>At Collab, we believe in the power of connection and collaboration. Our platform serves as a virtual meeting place, bringing together individuals from diverse backgrounds and communities.</p>
    <p>Whether you're looking to network, share knowledge, or foster meaningful relationships, Collab is here to facilitate those connections. We provide a safe and inclusive environment where ideas can flourish, and barriers are broken down.</p>
    <p>Through our collaborative approach, we encourage group discussions, collective design, and shared implementation. We understand that the success of each task impacts the entire project, which is why we emphasize teamwork and cooperation.</p>
    <p>Our dedicated team has carefully crafted this platform to ensure the highest quality standards. From robust quality checks to efficient change management, we strive for excellence in every aspect.</p>
    <p>Join us on this journey of discovery and empowerment. Together, we can bridge gaps, spark innovation, and make a positive impact on communities worldwide.</p>
    <p>Start exploring <a href="#">Collab</a> today and unlock the potential of collaboration!</p>
</div>
